*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
head{
    background-color: #f0abfc;
    background-size: auto;
  
}
.center{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: bold;
    display: flex ;
    flex-direction: column;
    padding-top: 120px;
    padding-left: 130px;
}
.text1{
    font-size: 20px;
    color: black;
}
.text2{
    font-size: 16px;
    display: flex ;
    flex-direction: column;
    margin-top: 15px;
   
}
.flower-image{
    max-width: 700px;
} 
